* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
.promo {
  height: 800px;
  background: url(../img/bg/Main_bg.jpg) center center/cover no-repeat;
  padding: 39px 0 62px 0;
}
.logo .logo_img {
  margin: 0 auto;
  display: block;
}

.logo .logo_text {
  margin-top: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
h1 {
  margin-top: 53px;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 41px;
  line-height: 41px;
  letter-spacing: normal;
  text-align: center;
  color: #f9bf3b;
  text-transform: uppercase;
}
h2.title {
  margin-top: 30px;
}

.simple .title_big {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 80px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 21px;
}
.promo .promo_text {
  padding: 0 13px;
  margin-top: 23px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  font-family: "Roboto Light";
  line-height: 28px;
  text-align: center;
}
.promo .promo_text span {
  font-family: "Roboto - Bold";
  font-weight: 700;
  color: #f9bf3b;
}

.promo .promo_btn {
  display: block;
  margin: 0 auto;
  border: 4px solid rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
  height: 72px;
  width: 313px;
  margin-top: 73px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  outline: none;
}
.more {
  margin-top: 73px;
}
.more .more_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 13px;
}
.more .more_img {
  display: block;
  margin: 0 auto;
  margin-bottom: 62px;
}
.waiting {
  min-height: 604px;
  background-color: #efefef;
  padding: 85px 0 75px 0;
}

.waiting .waiting_header,
.finish .finish_header {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: #252525;
  text-transform: uppercase;
}
.finish .finish_header {
  color: #fff;
}

.waiting .waiting_divider,
.finish .finish_divider {
  width: 217px;
  height: 4px;
  background-color: #f9bf3b;
  margin: 0 auto;
  margin-top: 18px;
}

.waiting .waiting_subheader {
  margin-top: 17px;
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;
  text-align: center;
}

.waiting .waiting_wrapper {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.waiting .waiting_wrapper .waiting_item {
  vertical-align: top;

  width: 339px;
  text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
  width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
  margin-top: 33px;
  color: #4a4a4a;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
}

.optimization {
  min-height: 550px;
  padding: 102px 0 107px 0;
}

.optimization .optimization_header {
  margin-left: 391px;
  color: #299cbd;
  font-family: "Roboto - Black";
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.optimization .optimization_text {
  margin-top: 25px;
  margin-left: 391px;
  color: #4a4a4a;

  font-size: 17px;
  font-weight: 300;
  font-family: "Roboto Light";
}

.optimization .optimization_text span {
  font-family: "Roboto - Bold";
  font-weight: 700;
}

.optimization .optimization_img {
  position: absolute;
  top: -48px;
  left: -240px;
  z-index: -1;
}

.finish {
  min-height: 447px;
  padding: 86px 0 79px 0;
  background: url(/src/img/bg/finish_bg.jpg) center center / cover no-repeat;
}

.finish .finish_wrapper {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
  width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
  width: 115px;

  height: 115px;
  background-color: #b4e2ff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.finish .finish_wrapper .finish_item .finish_descr {
  margin-top: 25px;
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  color: #efefef;
}

.gift {
  background-color: #efefef;
  padding-bottom: 73px;
}
.gift .gift_image {
  width: 144px;
}
.gift .gift_img {
  padding-top: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gift .gift_text {
  text-align: center;
  margin: 42px 0 53px 0;
  font-size: 20px;
}

.gift .gift_btn {
  margin-top: 73px;
  margin: 0 auto;
  display: block;
  text-align: center;

  border: 4px solid rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
  height: 72px;
  width: 313px;

  text-transform: uppercase;
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  outline: none;
}
