* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.promo {
  height: 800px;
  background: url(../img/bg/Main_bg.jpg) center center/cover no-repeat;
  padding: 39px 0 62px 0;
}
.logo .logo_img {
  margin: 0 auto;
  display: block;
}

.logo .logo_text {
  margin-top: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
